<div class="curriculum-vitae-page">
    <div class="row page-title">
        <h4>CV</h4>
    </div>
    <div class="row cv-section">
        <h5>Profile</h5>
        <p>This section is a brief description about me, maybe a more concise version 
            of what is detailed on the About page.</p>    
    </div>
    <div class="row cv-section">
        <h5>Education</h5>
        <p>This is the section for my education! I think we will need a nice responsive section here.</p>
    </div>
    <div class="row cv-section">
        <h5>Expertise</h5>
        <p></p>
    </div>
    <div class="row cv-section">
        <h5>Experience</h5>
        <p></p>
    </div>
</div>