<div class="curriculum-vitae-page">
    <div class="row page-title">
        <h4>CV</h4>
    </div>
    <div class="row cv-section">
        <div class="three columns tr-d">
            <h5 class="cv-section-title">Profile</h5>
        </div>
        <div class="nine columns">
            <p>This section is a brief description about me, maybe a more concise version 
                of what is detailed on the About page.</p>    
        </div>
    </div>
    <div class="row cv-section">
        <div class="three columns tr-d">
            <h5 class="cv-section-title">Education</h5>
        </div>
        <div class="nine columns">
            <div class="education-grid">
                <div class="education">
                    <h5 class="qualification">BSc (Hons) Database Administration and Management</h5>
                    <h6 class="establishment">Staffordshire University</h6>
                    <p class="years-active">2009 - 2013</p>
                </div>
                <div class="education">
                    <h5 class="qualification">BTEC National Diploma for IT Practitioners</h5>
                    <h6 class="establishment">Canterbury College</h6>
                    <p class="years-active">2007 - 2009</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row cv-section">
        <div class="three columns tr-d">
            <h5 class="cv-section-title">Expertise</h5>
        </div>
        <div class="nine columns">
            <div class="expertise-grid">
                <div class="expertise">
                    <h6 class="expertise-name">HTML5</h6>
                </div>  
                <div class="expertise">
                    <h6 class="expertise-name">CSS3</h6>
                </div>
                <div class="expertise">
                    <h6 class="expertise-name">AngularJS</h6>
                </div>
                <div class="expertise">
                    <h6 class="expertise-name">Bootstrap</h6>
                </div>
                <div class="expertise">
                    <h6 class="expertise-name">JavaScript</h6>
                </div>
                <div class="expertise">
                    <h6 class="expertise-name">CoffeeScript</h6>
                </div>
                <div class="expertise">
                    <h6 class="expertise-name">TypeScript</h6>
                </div>
                <div class="expertise">
                    <h6 class="expertise-name">C#</h6>
                </div>  
                <div class="ask-me-container">
                    <p>I've only included my strongest skills here, looking for something in particular?</p>
                    <input type="text" placeholder="I.e. 'Angular' or 'SQL'" /> <button type="button">Check</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row cv-section tr-d">
        <div class="three columns tr-d">
            <h5 class="cv-section-title">Experience</h5>
        </div>
        <div class="nine columns">
            <p></p>
        </div>
    </div>
</div>