.header {
    padding-top: 2.5rem;
    text-align: center;
    padding-bottom: 2.5rem;
    
    > h2 {
        margin: 0;
    }
}

.navbar {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    
    > ul {
        list-style: none;
        margin: 0;
        
        > li {
            display: inline-block;
            margin: 0;
            
            > a {
                margin-right: 3.3rem;
                color: #333;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 600;
                font-size: 11px;
                letter-spacing: .2rem;
                line-height: 6.5rem;                
                
                &:hover {
                    color: #c06c84;
                }
            }
        }
    }
}

.page-title {
    margin-top: 1rem;
    margin-bottom: 1rem;    
    
    > h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
}

.hero {
    margin: 1rem;
    font-size: 2em;
}