$light-color: #eee;
$dark-color: #333;
$highlight-color: #c06c84;

@-ms-viewport{
  width: device-width;
}

a {
    color: $dark-color;
    &:hover {
        color: $highlight-color;
    }
}

/* Helpers */

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Plugin Overrides */

#ngProgress {
    color: $dark-color !important;
    box-shadow: none !important;
    background-color: $dark-color !important;
}

/* Header and Navbar */

.header {
    padding-top: 2.5rem;
    text-align: center;
    padding-bottom: 2.5rem;
    
    > h2 {
        margin: 0;
    }
}

.navbar {
    border-top: 1px solid $light-color;
    border-bottom: 1px solid $light-color;
    
    > ul {
        list-style: none;
        margin: 0;
        
        > li {
            display: inline-block;
            margin: 0;
            
            > a {
                margin-right: 3.3rem;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: 600;
                font-size: 11px;
                letter-spacing: .2rem;
                line-height: 6.5rem;                
            }
        }
    }
}

.page-title {
    margin-top: 1rem;
    margin-bottom: 1rem;    
    
    > h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
}

.social-media 
{
    > a {
        font-size: 2rem;
        padding: .25rem;
    }
}

/* /cv */
.curriculum-vitae-page {
    .cv-section {
        border-top: 1px dotted $dark-color;
        padding-top: 2rem;
        
        h5 {
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: .05rem;
        }
        
        p {
            font-size: 1.2rem;
            line-height: 1.4rem;
        }
    }
}