
    <a href="#" title="On Facebook"><i class="ion-social-facebook"></i><span class="social-label">AMepham</span></a>
    <a href="#" title="On LinkedIn"><i class="ion-social-linkedin"></i><span class="social-label">AndyMepham</span></a>
    <a href="#" title="On Twitter"><i class="ion-social-twitter"></i><span class="social-label">@AndrewMephamIT</span></a>
    <a href="#" title="On Pinterest"><i class="ion-social-pinterest"></i><span class="social-label">AndyMeps</span></a>
    <a href="#" title="My Website"><i class="ion-earth"></i><span class="social-label">http://andymepham.co.uk</span></a>